## Python + SQL

#### Install and import connector

In case you use Python on your local system, then you have to install the mysql connector using the terminal.

Shell Command - python -m pip install mysql-connector-python

In case you use online resources like Google Colab, you can directly move on to importing the library.

Shell Command - import mysql.connector

#### Create connection

Python Statement : mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword”,
  [database="mydatabase"]
)

#### Use connection

To use the connection, first we have to create a cursor using the following command

Python Statement : mycursor = mydb.cursor()

#### Execute commands

To use the connection, first we have to create a cursor using the following command

Python Statement : mycursor = mydb.cursor()

Then, to execute the actual mysql command we execute the following:

Python Statement : mycursor.execute(“<entire mysql command without ending semicolon>”)

To make the changes final:

Python Statement : mydb.commit()

If the mysql command returns a result which can be displayed, after the mycursor.execute command, we run the following:

Python Statement : myresult = mycursor.fetchall()

Python Statement : for x in myresult: print(x)

To enter the sql command which is multiple lines:

Python Statement : sql = "Line 1 \
  Line 2 \
  Line 3 \
  Line 4"

Python Statement : mycursor.execute(sql)

Python Statement : myresult = mycursor.fetchall()

Python Statement : for x in myresult:
  print(x)

Also to prevent sql injection error complications and confusions, we should denote the strings in the sql command in single quotes (‘’) and those of python in double quotes (“”).