## Table Management and Views

#### Create Table

Command to create table : CREATE TABLE [IF NOT EXISTS] table_name(  
    column_definition1,  
    column_definition2,  
    ........,  
    table_constraints  
);

Example:

mysql> create table emp_table(  

    -> id int,  
    -> name varchar(45),
    -> occupation varchar(35),
    -> age int
    -> );
Query OK, 0 rows affected (0.11 sec)

#### Alter Table

###### Add Columns

Command to add column : ALTER TABLE table_name  
ADD new_column_name column_definition  
[ FIRST | AFTER column_name ];

Example:

mysql> alter table emp_table  

    -> add emp_sal int
    -> after age;
Query OK, 0 rows affected (0.06 sec)
Records: 0  Duplicates: 0  Warnings: 0

###### Modify Columns

Command to modify column : ALTER TABLE table_name  
MODIFY column_name column_definition  
[ FIRST | AFTER column_name ];

Example:


mysql> alter table emp_table  

    -> modify id varchar(10);
Query OK, 0 rows affected (0.15 sec)
Records: 0  Duplicates: 0  Warnings: 0

###### Drop Columns

Command to modify column : ALTER TABLE table_name  
DROP COLUMN column_name;

Example:

mysql> alter table emp_table  

    -> drop column age;
Query OK, 0 rows affected (0.09 sec)
Records: 0  Duplicates: 0  Warnings: 0

###### Rename Columns

Command to rename column : ALTER TABLE table_name  
CHANGE COLUMN old_name new_name column_definition  
[ FIRST | AFTER column_name ]

Example:


mysql> alter table emp_table  

    -> change column id emp_id varchar(10);
Query OK, 0 rows affected (0.03 sec)
Records: 0  Duplicates: 0  Warnings: 0

###### Rename Table

Command to rename table : ALTER TABLE table_name  
RENAME TO new_table_name;

Example:

mysql> alter table emp_table  

    -> rename to employees;
Query OK, 0 rows affected (0.04 sec)

#### Show Tables

Command to rename table : SHOW TABLES;

Example:

![image.png]()

#### Describe Table

Command to rename table : {DESCRIBE | DESC} table_name;

Example:

![image.png]()

#### Copy Table

Command to copy table : CREATE TABLE IF NOT EXISTS duplicate_table   
SELECT * FROM original_table;

Example:

mysql> create table if not exists emp_info  

    -> select * from employees;
Query OK, 0 rows affected (0.07 sec)
Records: 0  Duplicates: 0  Warnings: 0

#### Drop Table

Command to drop table : DROP TABLE [ IF EXISTS ] table_name;

Example:

mysql> drop table if exists employees;
Query OK, 0 rows affected (0.04 sec)

#### Create View

Command to create views : CREATE [OR REPLACE] VIEW view_name AS    
SELECT columns    
FROM tables    
[WHERE conditions]; 

OR REPLACE: It is optional. It is used when a VIEW already exists. If you do not specify this clause and the VIEW already exists, the CREATE VIEW statement will return an error.

WHERE conditions: It is also optional. It specifies the conditions that must be met for the records to be included in the VIEW.

Example:

mysql> create view emp_personal_info as  

    -> select name
    -> from emp_info;
Query OK, 0 rows affected (0.02 sec)

#### See Created View

Command to see created views : SELECT * FROM view_name;

Example:

mysql> select * from emp_personal_info;
Empty set (0.01 sec)

#### Update View

Command to update views : ALTER VIEW view_name AS    
SELECT columns    
FROM table    
[WHERE conditions];

Example:


mysql> alter view emp_personal_info as  

    -> select name
    -> from emp_info
    -> where name like "A%";					(Names starting with A)
Query OK, 0 rows affected (0.02 sec)

#### Drop Views


Command to drop views : DROP VIEW [IF EXISTS] view_name;

Example:

mysql> drop view emp_personal_info;
Query OK, 0 rows affected (0.02 sec)