#**Data Wrangling**

Data wrangling can be defined as the process of cleaning, organizing, and transforming raw data into the desired format for analysts to use for prompt decision-making. Also known as data cleaning or data munging, data wrangling enables businesses to tackle more complex data in less time, produce more accurate results, and make better decisions. 

Some examples of data wrangling include:

1. Merging multiple data sources into a single dataset for analysis.
2. Identifying gaps in data (for example, empty cells in a spreadsheet) and either filling or deleting them.
3. Deleting data that’s either unnecessary or irrelevant to the project you’re working on.
4. Identifying extreme outliers in data and either explaining the discrepancies or removing them so that analysis can take place.

In this course we're going to understand how to perform *Data Wrangling* in python. But before we proceed further, let us revisit some basic of Python to brush up our coding skills.

##**1. Introduction to Basic Python**

###1.1 Basic Datatypes

In this section, we will go over simple data types in Python. These are some of the
essential building blocks for handling information in Python. The data types we will
learn are strings, integers, floats, and other non–whole number types.

####**1.1.1 Strings**

A *string* is basically text and it is denoted by
using quotes (Single or double). Strings can contain numbers, letters, and symbols. Essentially, in Python, strings are arrays of bytes representing Unicode characters.

An example of a String is:

*'cat'*

*'This is a string.'*

*'5'*

*'walking'*

*'$GOObarBaz340 '*

In [ ]:
'An example of a string'

'An example of a string'

**Assigning & Printing a String**

In [ ]:
x = 'hello' #Assigning a string to a variable.

In [ ]:
x

'hello'

In [ ]:
print(x)

hello

Another example of printing:

In [ ]:
num = '12'
name = 'Sam'

In [ ]:
#Format 1

print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [ ]:
#Format 2

print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

####**1.1.2 Integer**

An *integer* is a whole number. 

Example: 5, 0, -10, 100, -9999, 25842

If you enter those into your Python interpreter, the interpreter will return them back to you.

Notice in the string example in the previous section, we had a '5'. If a number is entered within quotes, Python will process the value as a string. In the following
example, the first value and second value are not equal:

To test this, enter the following into your interpreter:

In [ ]:
5 == '5'

False

In the previous statement, we asked Python whether 5 the integer was the same as '5' the string. What did Python return? **False.**

Basically, the numbers stored as Strings are characters and you cannot peroform calculations on characters. We need numbers for that.

####**1.1.3 Floats**

A *float* value is a decimal value.

When a non–whole number is used in Python, it defaults to turning the value into a float. A float uses the built-in floating-point data type for your Python version. This means Python stores an approximation of the numeric value—an approximation that reflects only a certain level of precision.

Notice the difference between the following two numbers when you enter them into
your Python interpreter:

In [ ]:
2
2.0

####**1.1.4 Basic Operations on Numbers**

Now, let's see some basic operations that can be performed on Integers.

In [ ]:
#Addition

x = 10 + 56
y = 0.5 + 9.9

print(x)
print(y)

66
10.4

In [ ]:
#Subtraction

x = 23 - 47
y = 81.9 - 66.75

print(x)
print(y)

-24
15.150000000000006

In [ ]:
#Multiplication

x = 61 * 10
y = 9.65 * 0.25

print(x)
print(y)

610
2.4125

In [ ]:
#Division

x = 100 / 25
y = 100.0/12.5

print(x)
print(y)

4.0
8.0

In [ ]:
#Modulus for Remainder

x = 30 % 10
y = 999.99 % 2.50

print(x)
print(y)

0
2.490000000000009

In [ ]:
#Power Indices

x = 5 ** 3
y = 17.5 ** 0.1

print(x)
print(y)

125
1.331385445092909

In [ ]:
#Brackets for BODMAS

x = (2 + 3) * (5 + 2.5)

print(x)

37.5

####**1.1.5 List**

A list is a group of values that have some relationship in common. You use a list in Python similarly to how you would use it in normal language. In Python, you can
create a list of items by placing them within square brackets([]) and separating them with commas.

Let’s make a list of groceries in Python:

In [ ]:
['milk', 'lettuce', 'eggs']

['milk', 'lettuce', 'eggs']

You can make lists of any Python data type, or any mixture of data types (i.e., floats and strings).

In [ ]:
['hi',1,1,2.5]

['hi', 1, 1, 2.5]

You can also create lists of lists. Let’s say we have a list of names for our animals:

In [ ]:
cat_names = ['Walter', 'Ra']
dog_names = ['Joker', 'Simon', 'Ellie', 'Lishka', 'Fido']
horse_names = ['Mr. Ed']
animal_names = [cat_names, dog_names, horse_names]

In [ ]:
print(animal_names)

[['Walter', 'Ra'], ['Joker', 'Simon', 'Ellie', 'Lishka', 'Fido'], ['Mr. Ed']]

####**1.1.6 Dictionary**

A *dictionary* is a collection of data which is ordered*, changeable and do not allow duplicates. 

Unlike other data types that hold only a single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized.

In [ ]:
# Creating a dictionary with integer keys

Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

We can also access individual elements of the dictionary via their keys.

In [ ]:
print(Dict[2])

For

####**1.1.7 What can various Data Types do?**

Each of the basic data types can do a variety of things. Here is a list of the data types
we’ve learned about so far, followed by examples of the kinds of actions you can tell
them to do:

• Strings
1. Change case
2.  Strip space off the end of a string 
3. Split a string

• Integers and decimals
1. Add and subtract
2. Simple math

• Lists
1. Add to or subtract from the list
2. Remove the last item of the list
3. Reorder the list
4. Sort the list

• Dictionaries
1. Add a key/value pair
2. Set a new value to the corresponding key
3. Look up a value by the key

###**1.2 Exercises**